# CREATE OR REPLACE & CTAS Statement
1. Differentiate between Create or Replace and Drop and create table statements  
2. CTAS Statement

### 1. Differentiate between Create or Replace and Drop and create table statements

#### Behaviour of the Drop and Create Statements

In [0]:
drop table if exists demo.delta_lake.companies;
create table demo.delta_lake.companies
  ( company_id bigint NOT NULL generated always as identity (start with 1 increment by 1),
    company_name string not null,
    founded_date date comment 'The date the company was found',
    country string);

insert into demo.delta_lake.companies
(company_name, founded_date, country)
values ("Apple", "1976-04-01", "USA"),
 ("Microsoft", "1975-04-04", "USA"),
("Google", "1998-09-04", "USA"),
("Amazon", "1994-07-05", "USA"),
("Tencent", "1998-11-11", "China");

In [0]:
describe history demo.delta_lake.companies;

In [0]:
-- Rerun the drop and create statements again and check history
drop table if exists demo.delta_lake.companies;
create table demo.delta_lake.companies
  ( company_id bigint NOT NULL generated always as identity (start with 1 increment by 1),
    company_name string not null,
    founded_date date comment 'The date the company was found',
    country string);

insert into demo.delta_lake.companies
(company_name, founded_date, country)
values ("Apple", "1976-04-01", "USA"),
 ("Microsoft", "1975-04-04", "USA"),
("Google", "1998-09-04", "USA"),
("Amazon", "1994-07-05", "USA"),
("Tencent", "1998-11-11", "China");

In [0]:
describe history demo.delta_lake.companies;

# So, we lost all the history as soon as we ran the drop table statement and when we created the table, the history got created again.

Behavior of Create OR Replace statement

In [0]:
-- drop the table before demonstarting create or replace
drop table demo.delta_lake.companies;

In [0]:
describe history demo.delta_lake.companies;

In [0]:
create or replace table demo.delta_lake.companies
  ( company_id bigint NOT NULL generated always as identity (start with 1 increment by 1),
    company_name string not null,
    founded_date date comment 'The date the company was found',
    country string);

insert into demo.delta_lake.companies
(company_name, founded_date, country)
values ("Apple", "1976-04-01", "USA"),
 ("Microsoft", "1975-04-04", "USA"),
("Google", "1998-09-04", "USA"),
("Amazon", "1994-07-05", "USA"),
("Tencent", "1998-11-11", "China");

In [0]:
desc history demo.delta_lake.companies;

In [0]:
-- rerun above create or replace statements and check history
create or replace table demo.delta_lake.companies
  ( company_id bigint NOT NULL generated always as identity (start with 1 increment by 1),
    company_name string not null,
    founded_date date comment 'The date the company was found',
    country string);

insert into demo.delta_lake.companies
(company_name, founded_date, country)
values ("Apple", "1976-04-01", "USA"),
 ("Microsoft", "1975-04-04", "USA"),
("Google", "1998-09-04", "USA"),
("Amazon", "1994-07-05", "USA"),
("Tencent", "1998-11-11", "China");

In [0]:
desc history demo.delta_lake.companies;

# When we are using Create or Replace statement, you will retain the history. The data is going to be removed because you are using the replace table command. The table is going to be replaced but all of the history is still maintained.

## 2. CTAS Statement

In [0]:
select * 
from demo.delta_lake.companies
where country = 'China';

In [0]:
create table demo.delta_lake.companies_china
as
select * 
from demo.delta_lake.companies
where country = 'China';

In [0]:
select *
from demo.delta_lake.companies_china;

In [0]:
describe history demo.delta_lake.companies_china;

In [0]:
desc extended demo.delta_lake.companies_china;

## Limitations with CTAS Statement
- CTAS allows us to use most of the properties available in the standard create table statement but there is one distinct difference between those two. You cannot specify the column properties in the CTAS Statement. You cannot define null constarints, column data types etc. Column data types have been infered from the original table
- If we want to have the column type of the founded_date as timestamp, we cannot specify the column type in the CTAS Statement. There are Workarounds for this. In order to change the column type you can simply cast the column type when you are selecting the data

In [0]:
drop table demo.delta_lake.companies_china;

In [0]:
create table demo.delta_lake.companies_china
as
select cast(company_id as int) as company_id,
       company_name,
       founded_date,
       country
from demo.delta_lake.companies
where country = 'China';

In [0]:
desc demo.delta_lake.companies_china;

## We cannot define comments for CTAS when creating the table but we can add it by altering the table

In [0]:
alter table demo.delta_lake.companies_china
  alter column founded_date comment 'Date the company was founded';

In [0]:
desc extended demo.delta_lake.companies_china;

### Adding NOT NULL Constraint

In [0]:
alter table demo.delta_lake.companies_china
  alter column company_id SET not null;

In [0]:
desc extended demo.delta_lake.companies_china;